<html>
<head>
<title>Ruby on Rails Dev Weekend</title>
</head>
<body>

<div class="span6 offset3 text-center boxy custom-font">

	<h1>Kickass RoR App!</h1>

	<h2>Learning Ruby on Rails - Lesson 1: Installation is a bitch on Windows. Switch to linux.</h2>

</div>
</body>
</html>