<html>
<head>
<title>Ruby on Rails Dev Weekend</title>
</head>
<body>

<div class="span6 offset3 text-center boxy custom-font">

	<h1>Kickass RoR App!</h1>
<p>
	Learning Ruby on Rails - Lesson 1: Installation is a bitch on Windows. Switch to linux.
</p>
<br />
<%= link_to 'Go NOW !', pics_path, :class => 'btn btn-danger btn-large' %>

</div>
</body>
</html>