
<h2 class="custom-fonts text-center titlebox">These are my pictures</h2>

<% @pics.each do |pic| %>
<div class="boxy span3">
	<div>
		<h2>
			Hour # <%= pic.hour %>
		</h2>

		<!-- Wrapping image with image_tag -->
		<p>
			<%= image_tag pic.image.to_s %>
		</p>
		<p>
			<%= pic.emotion %>
		</p>
		<p>
			I learned that
			<%= pic.learned %>
		</p>
	</div>
</div>

<% end %>

