body{
	background: url('bk.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.custom-font{
	color: #fff;
	font-size: 30px;
	line-height: 30px;
}

@media screen and (max-width: 500px){
	.custom-font{
		font-size: 10px;
		line-height: 10px;
	}
}

